<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<p>Hello <span th:text="${realName}"></span>, just one more step!</p>
<p>You just need to verify your email address by clicking the link below to use all the great features of ${siteName}</p>
<a href="/api/auth/activate?token="></a>
<p th:text="${activationExplanation}"></p>
<p th:text="${senderInfo}"></p>
<p th:text="footer"></p>
<span th:text="${message}"></span>
</body>
</html>